:root {
    --maxiH: 465px;
    --maxiW: 310px;
    --main-height: 120vw;
    --main-width: 0.8;
    --theGrid-height: 0.9;
    --display-height: 0.2;
    --input-height: 0.5;

    --color-golden: #B7950B;
    --color-yellowa: #F1C40F;
    --color-whitey: #ECF0F1;
    --color-paleBlue: #A6ACAF;
    --color-deepBlue: #5D6D7E;
    --color-blackBlue: #283747;
    --color-black: #000000;

    --fontHouse-mono: Courier, Consolas, monospace;

    --fontRatio-flexi:
        var(--main-height) *
        var(--theGrid-height) *
        var(--display-height);
    --fontRatio-fixed:
        var(--maxiH) *
        var(--theGrid-height) *
        var(--display-height);
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--color-deepBlue);

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: var(--main-height);
    width: calc(100% * var(--main-width));
    max-height: var(--maxiH);
    max-width: var(--maxiW);
    margin: 0;

    background-color: #D5DBDB;

    border: solid 8px var(--color-yellowa);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px 5px var(--color-yellowa);

    display: flex;
    justify-content: center;
    align-items: center;
}

#theGrid {
    height: calc(100% * var(--theGrid-height));
    width: 90%;
    margin: 0px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(5, 1fr);
    column-gap: 4%;
    row-gap: 4%;
    grid-template-areas:
        "display display display display"
        "additio subtrac multipl divisio"
        "sevennn eighttt nineeee equalat"
        "fourrrr fiveeee sixxxxx equalat"
        "oneeeee twooooo threeee equalat"
        "zeroooo floatin clearrr eraseee";
}


/** BLACK DISPLAY **/

#display {
    grid-area: display;
    min-height: calc(100% * var(--display-height));
    max-width: 100%;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Expositions {
    height: calc(100% * var(--input-height));
    width: 98%;
    max-width: calc(var(--maxiW) * 0.9);
    padding: 0;
    padding-right: 2%;
    margin: 0;
    border: none;
    
    background-color: inherit;
    color: #ECF0F1;
    text-align: right;
    font-family: var(--fontHouse-mono);
    font-size:
        calc(
            var(--fontRatio-flexi) *
            var(--input-height) *
            0.6);
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #5b5b5b #ccbebe ;
    scrollbar-width: thin;
}

#input {
    font-weight: bold;
}

.Expositions::-webkit-scrollbar {
    height: 10px;
}

.Expositions::-webkit-scrollbar-thumb {
    background: #5b5b5b;
}

.Expositions::-webkit-scrollbar-track {
    background-color: #ccbebe;
}

@media screen and (min-width: 372px) { /* (--maxiW * 1.2) */
    .Expositions {
        font-size:
            calc(
                var(--fontRatio-fixed) *
                var(--input-height) *
                0.6);
    }
}

@media screen and (max-width: 372px) {
    .Expositions::-webkit-scrollbar {
        height: 5px;
    }
}


/** CLASSES OF BUTTONS **/

button {
    border: none;
}

.Operations, .Numbers, .Actions {
    font-family: var(--fontHouse-mono);
    font-weight: bold;
    font-size: calc(var(--fontRatio-flexi) * 0.3);
}

.Operations:active, .Numbers:active, .Actions:active {
    background-color: var(--color-golden);
    cursor: pointer;
    font-size: calc(var(--fontRatio-flexi) * 0.45);
}

@media screen and (min-width: 372px) {
    .Operations, .Numbers, .Actions {
        font-size: calc(var(--fontRatio-fixed) * 0.3);
    }

    .Operations:hover, .Numbers:hover, .Actions:hover,
    .Operations:active, .Numbers:active, .Actions:active {
        font-size: calc(var(--fontRatio-fixed) * 0.45);
    }

    .Operations:hover, .Numbers:hover, .Actions:hover {
        background-color: var(--color-yellowa);
        cursor: pointer;
    }

    .Operations:active, .Numbers:active, .Actions:active {
        background-color: var(--color-golden);
        cursor: pointer;
    }
}

.Operations, .Actions {
    background-color: var(--color-deepBlue);
    color: var(--color-whitey);
}

.Numbers {
    background-color: var(--color-paleBlue);
}


/** EACH BUTTON **/
#Equal {
    grid-area: equalat;
    background-color: var(--color-blackBlue);
    color: var(--color-whitey);
}

#Plus {
    grid-area: additio;
}

#Minus{
    grid-area: subtrac;
}

#Multi {
    grid-area: multipl;
}

#Divide {
    grid-area: divisio;
}

#Zero {
    grid-area: zeroooo;
}

#One {
    grid-area: oneeeee;
}

#Two {
    grid-area: twooooo;
}

#Three {
    grid-area: threeee;
}

#Four {
    grid-area: fourrrr;
}

#Five {
    grid-area: fiveeee;
}

#Six {
    grid-area: sixxxxx;
}

#Seven {
    grid-area: sevennn;
}

#Eight {
    grid-area: eighttt;
}

#Nine {
    grid-area: nineeee;
}

#Float {
    grid-area: floatin;
}

#Clear {
    grid-area: clearrr;
}

#Erase {
    grid-area: eraseee;
    font-size: calc(var(--fontRatio-flexi) * 0.2);
}

#Erase:hover, #Erase:active {
    font-size: calc(var(--fontRatio-flexi) * 0.35);
}

@media screen and (min-width: 372px) {
    #Erase {
        font-size: calc(var(--fontRatio-fixed) * 0.2);
    }

    #Erase:hover, #Erase:active {
        font-size: calc(var(--fontRatio-fixed) * 0.35);
    }
}

@media screen and (max-width: 200px) {
    #Erase:hover, #Erase:active {
        font-size: calc(var(--fontRatio-flexi) * 0.25);
    }
}